<div class="header">
	<div class="nav">
		<span><a href="/">首页</a></span>
		<span><a href="/blog">博客</a></span>
		<span><a href="/about">关于</a></span>
	</div>
</div>

<style>
	.header {
		background-color: #3d7d8d;
		padding: 2em;
	}
	.nav {
		background-color: #c1a224;
		display: grid;
	}
	.nav span {
		background-color: #c1bcb4;
		margin: 0.5em 0;
		/* border: 5px solid #fff; */
		/* border-radius: 5px; */
		/* box-shadow: 5px 5px 0px 0 #000; */
	}
	.nav a {
		background-color: #a19c74;
		display: inline-block;
		padding: 0.5em 7em;
	}
	.nav a:hover {
		cursor: pointer;
	}
</style>
