<div class="sideBar">
	<h1>Sidebar</h1>
	<p>
		1111111111111111111111111111111111111111111111111112
	</p>
</div>

<style>
	.sideBar {
		background-color: #a469d3;
	}
	.sideBar p{
		overflow: hidden;
  		text-overflow: ellipsis;
		width: 100px;
	}
</style>
