<div class="sideBar">
	<h1>Sidebar</h1>
	<p>
		1111111111111111111111111111111111111111111111111112
		11111111111111111111111111111111111111111111111111111
	</p>
</div>

<style>
	.sideBar {
		background-color: #a469d3;
	}
</style>
